<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="MYSQL"/>
    </properties>
    <typeAliases>
        <!-- system -->
        <typeAlias alias="SysDeptInfo" type="org.magisoul.system.entity.SysDeptInfo"/>
        <typeAlias alias="SysDictInfo" type="org.magisoul.system.entity.SysDictInfo"/>
        <typeAlias alias="SysDictItemInfo" type="org.magisoul.system.entity.SysDictItemInfo"/>
        <typeAlias alias="SysResourceInfo" type="org.magisoul.system.entity.SysResourceInfo"/>
        <typeAlias alias="SysRoleInfo" type="org.magisoul.system.entity.SysRoleInfo"/>
        <typeAlias alias="SysUserDeptRp" type="org.magisoul.system.entity.SysUserDeptRp"/>
        <typeAlias alias="SysUserInfo" type="org.magisoul.system.entity.SysUserInfo"/>
        <typeAlias alias="SysUserRoleRp" type="org.magisoul.system.entity.SysUserRoleRp"/>
        <typeAlias alias="SysToken" type="org.magisoul.system.entity.SysToken"/>

        <typeAlias alias="QuerySysDeptInfoVo" type="org.magisoul.system.model.query.QuerySysDeptInfoVo"/>
        <typeAlias alias="QuerySysDictInfoVo" type="org.magisoul.system.model.query.QuerySysDictInfoVo"/>
        <typeAlias alias="QuerySysDictItemInfoVo" type="org.magisoul.system.model.query.QuerySysDictItemInfoVo"/>
        <typeAlias alias="QuerySysResourceInfoVo" type="org.magisoul.system.model.query.QuerySysResourceInfoVo"/>
        <typeAlias alias="QuerySysRoleInfoVo" type="org.magisoul.system.model.query.QuerySysRoleInfoVo"/>
        <typeAlias alias="QuerySysUserInfoVo" type="org.magisoul.system.model.query.QuerySysUserInfoVo"/>

        <!-- gcode -->
        <typeAlias alias="GcDbConfigInfo" type="org.magisoul.gcode.entity.GcDbConfigInfo"/>
        <typeAlias alias="GcJobInfo" type="org.magisoul.gcode.entity.GcJobInfo"/>
        <typeAlias alias="GcTableInfo" type="org.magisoul.gcode.entity.GcTableInfo"/>

        <typeAlias alias="QueryGcDbConfigInfoVo" type="org.magisoul.gcode.model.query.QueryGcDbConfigInfoVoVo"/>
        <typeAlias alias="QueryGcJobInfoVo" type="org.magisoul.gcode.model.query.QueryGcJobInfoVo"/>
        <typeAlias alias="QueryGcTableInfoVo" type="org.magisoul.gcode.model.query.QueryGcTableInfoVo"/>
    </typeAliases>
</configuration>